body {
  padding: 10px;
  margin: 0px;
}

h3 {
  padding: 0;
  margin: 10px 5px 5px 5px;
}

ol {
  padding: 0 0 0 8px;
  margin: 5px;
}

#openner {
  width: 20px;
  height: 20px;
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  display: block;
  margin: 10px auto 0 auto;
  padding: 0;
}

input[type="text"] {
  width: 150px;
  margin: 0px auto 10px auto;
  padding: 0;
}

div#content {
  min-width: 150px;
  text-align: center;
}

table {
  margin: 0 auto;
  min-width: 150px;
  border: 1px #ccc solid;
}
td {
  white-space: nowrap;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 5px;
}
.circle.green {
  background-color: #0F0;
}
.circle.red{
  background-color: #F00;
}

.door{
  background: url("../img/door.png");
  width:32px;
  height:32px;
}
.door.open{
  background-position: left;
}
.door.close{
  background-position: right;
}
